.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.DropArea {
  padding: 50px 100px;
  border: dashed 4px lightgrey;
  border-radius: 30px;
}
.draggin {
  border-color: #61dafb;
  color: #61dafb;
}
#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


.BotButts {
  display: flex;
  gap: 10px;
}

.BotButton {
  background: none;
  color: white;
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(2px + 2vmin);
  cursor: pointer;
  transition: border 150ms;
}
.BotButton:hover {
  border-color: #61dafb;
}



.dataDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.gameInfoDiv {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.playerInfoDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoRow {
  display: flex;
  gap: 10px;
}

.gameInfoData {
  display: flex;
  gap: 10px;
  border: 1px lightgrey solid;
  padding: 5px 10px;
  border-radius: 10px;
}