html {
  background-color: #282c34;
  margin: 10px;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.DropArea {
  border: dashed 4px lightgrey;
  border-radius: 30px;
}
.draggin {
  border-color: #61dafb;
  color: #61dafb;
}
#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


.BotButts {
  display: flex;
  gap: 10px;
}

.BotButton {
  background: none;
  color: white;
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(2px + 2vmin);
  cursor: pointer;
  transition: border 150ms;
}
.BotButton:hover {
  border-color: #61dafb;
}



.dataDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.gameInfoDiv {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.playerInfoDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playerTitle {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: calc(7px + 2vmin);
  color: lightgray;
}

.infoRow {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.gameInfoData {
  display: flex;
  gap: 10px;
  border: 1px lightgrey solid;
  padding: 5px 10px;
  border-radius: 10px;
  align-items: center;
  max-width: 600px;
}


.timeIcon {
  image-rendering: pixelated;
}
.spriteIcon {
  image-rendering: pixelated;
  width: 30px;
  height: 30px;
  object-fit: contain;
}


.botLinksDiv {
  display: flex;
  gap: 2px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  margin-bottom: 5px;
}

.socialButt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  transition: filter 100ms;
  margin: 0px 3px 0px 3px;
}
.socialButt:hover, .buttonsBot:focus {
  filter: brightness(1.1);
  cursor: pointer;
}
.socialButt:active {
  filter: brightness(.9);
}
#mastoButton {
  background-color: #6479be;
}
#mastoIcon {
  height: 21px;
  width: 21px;
  fill: white;
}
#discordButton {
  background-color: #5E69F6;
}
#discordIcon {
  height: 23px;
  width: 23px;
  fill: white;
}
#githubButton {
  background-color: #535353;
}
#githubIcon {
  height: 23px;
  width: 23px;
  fill: white;
  transform: translate(0px, 1px);
}
#kofiButton {
  background-color: #64b3be;
}
#kofiIcon {
  height: 21px;
  width: 21px;
  fill: white;
  transform: translate(1px, 1px);
}
